<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <video
      autoplay="true"
      muted="muted"
      loop
      oncanplay="this.play()"
      class="imgCategory"
    >
      <source
        src="../../assets/images/HairNails.mp4"
        type="video/mp4"
        alt="Shop So Glam..."
      />
    </video>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <video
      autoplay="true"
      muted="muted"
      loop
      oncanplay="this.play()"
      class="imgCategory"
    >
      <source
        src="../../assets/images/FaceLips.mp4"
        type="video/mp4"
        alt="Shop So Glam..."
      />
    </video>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <video
      autoplay="true"
      muted="muted"
      loop
      oncanplay="this.play()"
      class="imgCategory"
    >
      <source
        src="../../assets/images/BathBody.mp4"
        type="video/mp4"
        alt="Shop So Glam..."
      />
    </video>
  </div>
</div>
