<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <video
      muted="true"
      autoplay="true"
      loop
      oncanplay="this.muted=true;this.play()"
      class="imgCategory"
      (click)="viewCategory('HairNails')"
    >
      <source
        src="../../assets/images/HairNails.mp4"
        type="video/mp4"
        alt="Shop So Glam..."
      />
    </video>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <video
      autoplay
      muted
      loop
      oncanplay="this.muted=true;this.play()"
      class="imgCategory"
      (click)="viewCategory('FaceLips')"
    >
      <source
        src="../../assets/images/FaceLips.mp4"
        type="video/mp4"
        alt="Shop So Glam..."
      />
    </video>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <video
      autoplay
      muted
      loop
      oncanplay="this.muted=true;this.play()"
      class="imgCategory"
      (click)="viewCategory('BathBody')"
    >
      <source
        src="../../assets/images/BathBody.mp4"
        type="video/mp4"
        alt="Shop So Glam..."
      />
    </video>
  </div>
</div>
