<div
  [ngClass]="getRoute()"
  (click)="ShowDetails($event); onCardClick.emit()"
  (mousedown)="mouseDown($event)"
  (touchstart)="mouseDown($event)"
  style="min-height: 100%"
>
  <div class="imgContainer">
    <img
      class="card-img-top"
      #productImg
      alt="Card image cap"
      style="width: 100%"
    />
    <div
      class="overlay"
      (click)="ShowDetails($event); onCardClick.emit()"
      (mousedown)="mouseDown($event)"
      (touchstart)="mouseDown($event)"
    ></div>
    <div
      class="btnView"
      (click)="ShowDetails($event); onCardClick.emit()"
      (mousedown)="mouseDown($event)"
      (touchstart)="mouseDown($event)"
    >
      View
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ product.type }}</p>
    <h5 class="card-title">{{ product.name }}</h5>
    <div *ngIf="product.isOnSale" style="width: 100%">
      <p class="old-price-text">
        {{
          product.price * sharedService.currencyRate +
            " " +
            sharedService.userCurrency
        }}
      </p>
      <p style="width: 50%; display: inline-block" class="price-text">
        {{
          product.discountPrice * sharedService.currencyRate +
            " " +
            sharedService.userCurrency
        }}
      </p>
    </div>

    <p class="price-text" *ngIf="!product.isOnSale">
      {{
        product.price * sharedService.currencyRate +
          " " +
          sharedService.userCurrency
      }}
    </p>
  </div>
</div>
