<button class="accordion">Are your products vegan</button>
<div class="panel">
  <p>
    Yes, all of our products are vegan! None of our products contains any
    animal-derived ingredients, We are truly vegan-friendly.
  </p>
</div>

<button class="accordion">Do you test on animals?</button>
<div class="panel">
  <p>
    The short answer is no! <br />
    It is illegal to test finished products on animals and we don't do it.
  </p>
</div>

<button class="accordion">Are your products pregnancy-safe?</button>
<div class="panel">
  <p>
    We have formulated our products to be as safe to use during pregnancy as
    possible.
  </p>
</div>
<button class="accordion">
  What is the diffference between Diamond Hair Serum and Gold Hair Serum?
</button>
<div class="panel">
  <p>
    Diamond Hair Serum is a leave on treatment used after showering that will
    make your hair glow and remove the ugly frizzness and helps the damaged
    endings while Gold Hair serum is an intensive oil treatment used 2 hours
    before showering on your skull to help improve the quality of your new hair
    since it works on the hair follicle.
  </p>
</div>
<button class="accordion">
  Is your Eyebrow Gel beneficial or only aestethical?
</button>
<div class="panel">
  <p>
    Diamond Hair Serum is a leave on treatment used after showering that will
    make your hair glow and remove the ugly frizzness and helps the damaged
    endings while Gold Hair serum is an intensive oil treatment used 2 hours
    before showering on your skull to help improve the quality of your new hair
    since it works on the hair follicle.
  </p>
</div>
<button class="accordion">
  Can I collaborate with you on Instagram on my blog?
</button>
<div class="panel">
  <p>
    We would be pleased to discuss this with you! Please let us know more about
    you and your audience and we will let you know if we think there is a good
    fit. Please send us an email to so_glam@outlook.com
  </p>
</div>
