.whatsapp-div {
  position: fixed;
  right: 24px;
  bottom: 24px;
  height: 60px;
  width: 60px;
  z-index: 9999;
  background-size: 60px 60px;
}

.footer-top {
  color: #fff;
  padding: 10px;
  text-align: center;
}
.footer-top a {
  color: #fff;
}

.logo-footer {
  height: 80px;
  width: 80px;
}

.slogan {
  font-size: 20px;
  font-family: "Material Icons";
  font-style: oblique;
  color: #c58cc8;
}

.copyright {
  font-size: 12px;
  text-align: center;
  font-style: italic;
  color: #c58cc8;
  margin-bottom: 15px;
}

.iconify {
  color: white;
  font-size: 36px;
  width: 30%;
}

.payment-logo {
  height: 24px;
  margin: 5px;
}

.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.close {
  outline: none;
}
@media screen and (max-width: 767px) {
  .mobile-space {
    margin-top: 50px;
  }
}
