<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<a
  target="_blank"
  href="https://api.whatsapp.com/send?phone=+96176739911"
  class="whatsapp-div"
  ><img src="../../assets/images/whatsappIcon.png" width="50px"
/></a>

<footer>
  <div class="footer-top bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-lg-4">
          <img
            class="logo-footer"
            src="../../assets/images/SoGlamLogo.png"
            alt="logo-footer"
          />
          <div class="slogan">SAFE IN MOTHER NATURE'S HANDS</div>
          <br />
          <div class="copyright">
            © Copyright 2020 So Glam - All Rights Reserved
          </div>
        </div>
        <div class="col-md-5 col-lg-4 offset-lg-1 offset-md-2 mobile-space">
          <h4 style="margin-bottom: 20px">Quick Links</h4>
          <p><a routerLink="/">Home</a></p>
          <p><a routerLink="/shop">Shop</a></p>
          <p><a routerLink="/aboutus">About Us</a></p>
          <p><a routerLink="/contactus">Contact Us</a></p>
        </div>

        <div
          class="
            col-12 col-lg-3
            mb-5
            footer-social
            wow
            fadeInUp
            animated
            mobile-space
          "
          style="visibility: visible; animation-name: fadeInUp"
        >
          <h4 style="margin-bottom: 20px">Follow us</h4>
          <a href="https://www.instagram.com/soglamlb/" target="_blank"
            ><span
              class="iconify"
              data-icon="mdi-instagram"
              data-inline="false"
            ></span
          ></a>
          <a href="https://www.facebook.com/Soglam2020" target="_blank"
            ><span
              class="iconify"
              data-icon="akar-icons:facebook-fill"
              data-inline="false"
            ></span
          ></a>
          <a href="https://vm.tiktok.com/ZSJRFxhw7/" target="_blank"
            ><span
              class="iconify"
              data-icon="cib:tiktok"
              data-inline="false"
            ></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
