<ngb-carousel *ngIf="videos" [showNavigationArrows]="false">
  <ng-template ngbSlide *ngFor="let video of videos">
    <div class="wrapper">
      <video
        autoplay="true"
        muted="muted"
        loop
        oncanplay="this.muted=true;this.play()"
        class="carouselImg"
      >
        <source [src]="video" type="video/mp4" alt="Shop So Glam..." />
      </video>
    </div>
    <div class="carousel-caption">
      <a routerLink="/shop" style="color: #fff; text-decoration: underline"
        ><h3>Shop Now</h3></a
      >
    </div>
  </ng-template>
</ngb-carousel>
