.material-icons {
  font-size: 48px;
}

.info-text {
  margin-top: 0%;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  font-family: fangsong;
  position: relative;
  top: -27%;
}

.info-text a {
  color: #212529;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
