<div class="container-md mb-5 mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <img src="../../assets/images/aboutus.jpg" class="img-values" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5">
      <p>
        Founded in 2019, Soglam has been championing clean beauty and lifestyle
        products for over 2 years now. Born out of a desire to see real change
        in the way we treat ourselves and the world around us, Soglam has fast
        become a trusted and ethical source in this field. we are driven to
        provide you with an exciting product range that reflects our
        uncompromising values.<br /><br />

        Soglam beauty products are lovingly handmade in small batches at our
        studio in Beirut, Lebanon to ensure the freshness of the precious
        antioxidants in the natural oils, butters and extracts. Our products are
        vegan, cruelty free and eco-friendly.<br /><br />

        We design and make each product carefully by hand and with a lot of love
        and care.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5">
      <h1 class="mb-5">SAFE IN MOTHER NATURE'S HANDS</h1>

      <h5>Cruelty free</h5>
      <p>
        We have never carried out or comissioned animal testing. Our organic
        beauty products are 100% cruelty free.
      </p>
      <br />
      <h5>Vegan:</h5>
      <p>
        We are registered with the Misitry of health and chamber of commerce as
        vegan entity, allowing you to shop ethical, chemical free beauty with
        confidence.
      </p>
      <br />

      <h5>FDA approved:</h5>
      <p>
        All plastics and other material used for packaging have passed testing
        completed by the FDA. The materials have been deemed safe to package
        food, cosmetics, medicines, tobacco and other products that can be
        consumed or come in direct contact with consumers.
      </p>
    </div>
  </div>
</div>
