<div class="card" style="min-height: 100%">
  <div *ngIf="isAdmin()">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="DeleteReview(review.id)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <div
      class="quote-icon-wrapper flex align-center justify-center spacer-x-auto"
    >
      <i class="material-icons dp48">format_quote</i>
    </div>
    <!-- <div class="initial-div">
        {{ review.user.displayName.substring(0, 1) }}
      </div> -->
    <h5 class="card-title" style="display: inline-block">
      {{ review.user.displayName }}
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ review.reviewDate.toDate().toLocaleDateString() }}
    </h6>
    <h5 class="card-title">
      <ngb-rating
        [max]="5"
        [readonly]="true"
        [rate]="review.stars"
        style="font-size: 30px; color: #c58cc8"
      ></ngb-rating>
    </h5>
    <p class="card-text">
      {{ getDescription() }}
      <a
        *ngIf="this.review.description.length > 200"
        (click)="ReadMore(this.review.description)"
        class="readmore"
        >read more</a
      >
    </p>
  </div>
</div>

<ng-template #readAllReview let-modal>
  <div class="modal-body">
    <p style="overflow-wrap: break-word">{{ currentReview }}</p>
    <button
      type="button"
      class="btn btn-outline-dark mt-3 float-right"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
