<div class="card">
  <div *ngIf="isAdmin()">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="DeleteReview(review.id)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ review.user.displayName }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ review.reviewDate.toDate().toLocaleDateString() }}
    </h6>
    <h5 class="card-title">
      <ngb-rating
        [max]="5"
        [readonly]="true"
        [rate]="review.stars"
        style="font-size: 30px; color: #c58cc8"
      ></ngb-rating>
    </h5>
    <p class="card-text">{{ review.description }}</p>
  </div>
</div>
