<div
  *ngIf="sharedService.isSettingsLoading"
  style="text-align: center; margin-top: 200px; margin-bottom: 200px"
>
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!sharedService.isSettingsLoading">
  <div class="divCurrency">
    <a (click)="sharedService.changeUserCurrency('USD')" class="btnCurrency"
      >USD</a
    >
    |
    <a (click)="sharedService.changeUserCurrency('LBP')" class="btnCurrency"
      >LBP</a
    >
  </div>
  <app-header></app-header>
  <router-outlet></router-outlet>

  <app-footer></app-footer>
</div>
