.custom-slider-main {
  display: inline-flex;
  overflow: hidden;
  width: calc(100vw - 130px);
  cursor: pointer;
}

.info-box {
  margin-right: 50px;
}

.material-icons {
  font-size: 48px;
  color: #000;
  text-decoration: none !important;
  cursor: pointer;
}
