<a class="d-inline ml-1" (click)="scrollLeft()" *ngIf="showArrows"
  ><span class="material-icons">navigate_before</span></a
>
<div
  #widgetsContent
  [ngClass]="showArrows ? 'custom-slider-main' : 'custom-slider-main margin-65'"
  #elemt
  (mousedown)="startDragging($event, false, elemt)"
  (mouseup)="stopDragging($event, false)"
  (mouseleave)="stopDragging($event, false)"
  (mousemove)="moveEvent($event, elemt)"
  (touchstart)="startDragging($event, false, elemt)"
  (touchend)="stopDragging($event, false)"
  (touchleave)="stopDragging($event, false)"
  (touchmove)="moveEvent($event, elemt)"
>
  <div class="info-box" *ngFor="let product of products; let i = index">
    <app-product-card
      [product]="product"
      [index]="getIndex(product)"
    ></app-product-card>
  </div>
</div>
<a
  class="material-icons d-inline mr-1"
  (click)="scrollRight()"
  *ngIf="showArrows"
  >navigate_next</a
>
