<div
  *ngIf="isLoading"
  style="text-align: center; margin-top: 200px; margin-bottom: 200px"
>
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading">
  <div class="container mb-5">
    <div class="row flex-row">
      <div class="col-12 col-lg-5">
        <div style="width: 100%" class="mt-5">
          <div class="d-flex flex-lg-row">
            <div class="album-thumbnails" *ngIf="images.length > 0">
              <div
                class="gallery-thumbnail-wrapper d-flex flex-row flex-lg-column flex-wrap align-items-center"
              >
                <div class="thumbnail-column" *ngFor="let image of images">
                  <img
                    (click)="setSelectedImg(image.name)"
                    class="thumbnail-image"
                    [src]="sanitizer.bypassSecurityTrustResourceUrl(image.name)"
                  />
                </div>
              </div>
            </div>
            <div class="album mt-3">
              <img
                class="default-image"
                [src]="
                  sanitizer.bypassSecurityTrustResourceUrl(defaultImagePath)
                "
                (click)="setSelectedImg(defaultImageName)"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-7 mt-5">
        <div style="width: 100%" class="mt-3">
          <h1>{{ product.name }}</h1>
          <p class="ml-1">{{ product.type }}</p>
          <br />
          <label for="txtQuantity" style="margin-right: 10px"> Quantity</label>
          <button type="button" class="btnQty" (click)="decreaseQuantity()">
            -
          </button>
          <input
            type="text"
            id="txtQuantity"
            value="1"
            min="1"
            placeholder="Quantity"
            class="txtquantity text-center"
            (change)="checkQuantity()"
            onkeydown="return false"
            #qty
          />
          <button type="button" class="btnQty" (click)="increaseQuantity()">
            +
          </button>
          <br />
          <br />
          <div>
            <button
              class="btn btn-dark btn-lg btn-cart"
              (click)="AddToCart(product.id)"
              type="button"
              *ngIf="!isAddingCart"
              style="width: 100%"
              [disabled]="product.isSoldOut"
            >
              <span class="material-icons">shopping_cart</span> Add to Cart
            </button>
            <button
              *ngIf="isAddingCart"
              class="btn btn-dark btn-lg btn-cart"
              type="button"
              style="width: 100%"
              disabled
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Loading...
            </button>
          </div>
          <p *ngIf="product.isSoldOut" class="text-danger">
            Sorry, This item is sold out. Check again later
          </p>
          <br />
          <br />

          <div
            *ngIf="product.isOnSale"
            style="width: 60%; display: inline-block"
          >
            <p class="old-price-text">
              {{ getPrice() }}
            </p>
            <p class="price-text">
              {{ getDiscountPrice() }}
            </p>
          </div>
          <p class="price-text" *ngIf="!product.isOnSale">
            {{ getPrice() }}
          </p>
          <button
            class="btn btn-sm btn-wishlist"
            (click)="AddToWishlist()"
            *ngIf="!isInWishlist || !isLoggedIn"
          >
            <span class="material-icons">favorite_border</span>
            Add to Wishlist
          </button>
          <button
            class="btn btn-sm btn-wishlist"
            (click)="RemoveFromWishlist()"
            *ngIf="isInWishlist && isLoggedIn"
            type="button"
          >
            <span class="material-icons" style="color: #000">favorite</span>
            Remove from Wishlist
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
        <br /><br />
        <h4>What It Is</h4>
        <p>{{ product.description }}</p>
        <br />
        <h4>Formulation</h4>
        <p>{{ product.formulation }}</p>
        <br />
        <h4>Weight</h4>
        <p>{{ product.weight + " grams" }}</p>
        <br />
        <h4>How to Use</h4>
        <p>{{ product.howToUse }}</p>
        <br />
        <div
          *ngIf="product.whatElseToKnow && product.whatElseToKnow.length > 0"
        >
          <h4>What Else You Need To Know</h4>
          <p>{{ product.whatElseToKnow }}</p>
          <br />
          <br />
          <div *ngIf="relatedProducts.length > 0">
            <h3 style="padding-bottom: 50px">Frequently Bought With</h3>
            <app-multi-item-carousel
              [products]="relatedProducts"
              [allProducts]="products"
            ></app-multi-item-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-image-gallery
    *ngIf="isGalleryOpen"
    [images]="product.images"
    [selectedImgName]="selectedImgName"
  ></app-image-gallery>
</div>
<ng-template #signInModal let-modal>
  <div class="modal-header">
    <p class="modal-title" id="modal-basic-title">Sign In</p>
    <button
      id="closeModal"
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #signinForm="ngForm" (ngSubmit)="SignIn(signinForm)" class="mb-5">
      <div class="form-group row">
        <label for="email" class="col-2 col-form-label">Email</label>
        <div class="col-10">
          <input
            class="form-control"
            id="email"
            name="email"
            ngModel
            #email="ngModel"
            required
            email
          />
          <span *ngIf="!isUserVerified" style="color: red; font-size: 16px">
            please verify your email to login
          </span>
          <span *ngIf="isWrongEmail" style="color: red; font-size: 16px">
            Email is not registered
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-2 col-form-label">Password</label>
        <div class="col-10">
          <input
            class="form-control"
            id="password"
            name="password"
            type="password"
            ngModel
            #password="ngModel"
            required
            password
          />
          <span *ngIf="isWrongPassword" style="color: red; font-size: 16px">
            Incorrect Password
          </span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 mt-3" style="text-align: left">
          <button
            type="submit"
            [disabled]="!signinForm.valid"
            class="btn btn-dark mt-2 m-auto"
            *ngIf="!isSigningIn"
          >
            Sign in
          </button>
          <button
            [disabled]
            class="btn btn-dark mt-2 m-auto"
            *ngIf="isSigningIn"
          >
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Loading...
          </button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 m-auto" style="cursor: pointer; font-size: 16px">
          Don't have an account?
          <a routerLink="/auth" class="ml-2" (click)="modal.dismiss()">
            Register
          </a>
        </div>
      </div>
    </form>

    <br />
  </div>
</ng-template>

<ng-template #cartModal let-modal>
  <div class="modal-header">
    <p class="modal-title" id="modal-basic-title">Successfully added to cart</p>
    <button
      id="btncloseModal"
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="album" style="margin: auto; width: 50%">
      <img
        class="default-image"
        [src]="sanitizer.bypassSecurityTrustResourceUrl(defaultImagePath)"
      />
    </div>
    <h3 style="text-align: center">{{ product.name }}</h3>
    <div style="display: inline-block; width: 50%; text-align: center">
      <button
        id="btnCart"
        type="button"
        class="btn btn-dark btn-sm"
        routerLink="/cart"
        (click)="modal.dismiss()"
      >
        View Shopping Cart
      </button>
    </div>
    <div style="display: inline-block; width: 50%; text-align: center">
      <button
        id="btnClose"
        type="button"
        class="btn btn-dark btn-sm"
        (click)="modal.dismiss()"
        style="margin: auto"
      >
        Continue Shopping
      </button>
    </div>
  </div>
</ng-template>
