<div
  *ngIf="isLoading"
  style="text-align: center; margin-top: 200px; margin-bottom: 200px"
>
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading">
  <div class="mb-5">
    <app-carousel></app-carousel>
  </div>
  <div class="section" *ngIf="bestSellerProducts.length > 0">
    <h3>Our Best Sellers</h3>
    <app-multi-item-carousel
      [products]="bestSellerProducts"
      [allProducts]="products"
    ></app-multi-item-carousel>
  </div>
  <div class="section" *ngIf="newProducts.length > 0">
    <h3>New Arrivals</h3>
    <app-multi-item-carousel
      [products]="newProducts"
      [allProducts]="products"
    ></app-multi-item-carousel>
  </div>
  <div class="section" *ngIf="saleProducts.length > 0">
    <h3>Products On Sale</h3>
    <app-multi-item-carousel
      [products]="saleProducts"
      [allProducts]="products"
    ></app-multi-item-carousel>
  </div>
  <div class="section">
    <h3>FAQ</h3>
    <app-faq></app-faq>
  </div>
</div>
