<div class="container-fluid" style="min-height: calc(100vh - 400px)">
  <div class="row">
    <div class="mt-5 mb-3 ml-5">
      <h2>My Account</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="navbar nav-pills navbar-dark nav-fill list-unstyled">
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/account/profile">Profile</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/account/addresslist">Address List</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/aboutus">Orders</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
